<nav class="navbar">
  <div class="navbar__logo-text">
    <a routerLink="/">Posthit</a>
  </div>
  <ul class="navbar__links">
    <li><a routerLink="/">Accueil</a></li>
    <li><a routerLink="/FullShop">Galerie</a></li>
    <li><a routerLink="/about">À propos</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
  <div class="navbar__icons">
    <a routerLink="/cart" class="icon-cart" title="Panier">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
    <a *ngIf="isLoggedIn()" routerLink="/user-profil" class="icon-user" title="Profil">
      <i class="fa-regular fa-user"></i>
      <span class="username">{{ username() }}</span>
    </a>
    <button *ngIf="isLoggedIn()" (click)="logout()" class="logout-btn">Se déconnecter</button>

    <!-- Si non connecté : bouton Login -->
    <button *ngIf="!isLoggedIn()" (click)="userForm()" class="login-btn">Login</button>

  </div>
</nav>
